@charset "utf-8";
/* CSS Document */

.header_center {
	margin:0 auto;
	width:980px;
}
.header {
	float:left;
	width:980px;
}
.logo {
	float:left;
	margin:35px 0 0;
}
.phone {
	float:left;
	margin:40px 0 0 110px;
	padding:0 0 0 45px;
	background:url(../images/phone_icon.png) 0 0 no-repeat;
}
.phone ul {
	margin:0;
	padding:0;
	list-style:none;
}
.phone ul li {
	float:left;
	margin:0 15px 0 0;
	font-size:30px;
}
.phone ul li span {
	font-size:11px;
}
.cart_bg {
	width:265px;
	height:203px;
	float:right;
	margin:-25px 0 0;
	background:url(../images/cart_bg.png) no-repeat;
	position:relative;
	z-index:100;
}
.enter {
	float:left;
	margin:46px 0 0 26px;
}
.enter a {
	text-decoration:none;
	color:#000;
	font-size:15px;
}
.cart_bg a {
	text-decoration:none;
}
.cart {
	float:left;
	margin:80px 0 0 20px;
	padding:0 0 0 30px;
	background:url(../images/cart_icon.png) 0 0 no-repeat;
}
.cart p {
	margin:2px 0 0;
	font-size:10px;
	color:#ccc;
}
.cart_head {
	font-size:14px;
	color:#fff;
}
.social {
	float:right;
	margin:20px 15px 0 0;
}
.social ul {
	margin:0;
	padding:0;
	list-style:none;
}
.social ul li {
	float:left;
	margin:0 5px 0 0;
}
.header_l {
	float:left;
	width:685px;
}
.header_r {
	float:right;
}
.search {
	float:left;
	margin:25px 0 0;
}
.main_sbutton {
	background:none;
	border:none;
	cursor:pointer;
	color:#1a1a1a;
	font-size:15px;
	font-weight:bold;
	height:30px;
	float:left;
	margin:0 0 0 15px;
	padding:0;
}
.search_bg {
	float:left;
	width:350px;
	height:28px;
	border:1px solid #e5e5e5;
	border-radius:5px;
	margin:0 0 0 20px;
}
.search_bg select {
	float:left;
	border:none;
	background:none;
	padding:0;
	margin:0;
	height:28px;
	width:140px;
	text-align:right;
	font-size:13px;
	color:#666;
	padding:0 0 0 10px;
}
.search_separator {
	float:left;
	border-left:1px solid #e5e5e5;
	height:22px;
	margin:3px 10px 0 10px;
}
.search_text {
	float:left;
	width:160px;
	background:none;
	border:none;
	color:#4d4d4d;
	font-size:13px;
	height:28px;
	padding:0;
	margin:0;
}
.search_submit {
	float:left;
	width:28px;
	height:28px;
	cursor:pointer;
	background:url(../images/search_icon.png) 50% 50% no-repeat;
	border:none;
	margin:0;
	padding:0;
}
.header_nav {
	float:right;
	margin:25px -60px 0 0;
}
.header_nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
.header_nav ul li {
	float:left;
	height:30px;
	line-height:30px;
	font-size:15px;
	margin:0 0 0 20px;
}
.header_nav ul li a {
	text-decoration:none;
	color:#333;
}
.content_bg {
	background: #E5E5E5;
	margin: -40px 0 0;
	float: left;
	width: 100%;
	box-shadow: 0 0 60px #ccc inset;
}
.header_bg {
	float: left;
	width: 100%;
	background:#fff;
}
.content_center {
	width:980px;
	margin:0 auto;
}
.content {
	float:left;
	width:980px;
}
.content_l_bg {
	background:url(../images/content_l_bg.png) 0 0 repeat-y;
	float:left;
	width:980px;
}
.content_l {
	float:left;
	width:210px;
}
.content_r {
	float:left;
	width:770px;
}
.left_menu_head {
	float:left;
	margin:20px 0 0 20px;
	font-size:15px;
	color:#fff;
	width:190px;
	line-height:230%;
}
.left_menu {
	float:left;
	width:210px;
}
.left_menu table {
	border-collapse:collapse;
	border-spacing:0;
	width:210px;
	float:left;
}
.left_menu table tr {
	float:left;
	width:210px;
	margin:-1px 0 0;
}
.left_menu table tr td {
	padding:0 0 0 20px;
	width:190px;
	border:1px solid #333333;
	line-height:230%;
	font-size:15px;
	border-collapse:collapse;
}
.left_menu table tr td a {
	text-decoration:none;
	color:#b2b2b2;
}
.slider {
	float:left;
	width:770px;
	height:355px;
	overflow:hidden;
}
.slider_pic {
	float:left;
	width:770px;
	height:355px;
	overflow:hidden;
}
.slider_label {
	float:left;
	font-size:14px;
	color:#fff;
	padding:10px;
	border-bottom:3px solid #fe0033;
	margin:-325px 0 0;
	background:#000;
}
.slider_text {
	float:left;
	margin:-120px 0 0;
	background:url(../images/slider_text_bg.png) 0 0 repeat-x;
	width:770px;
	height:120px;
}
.slider_text h1 {
	font-size:39px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#fff;
	margin:25px 0 0 20px;
	padding:0;
	font-weight:normal;
	width:600px;
	height:47px;
	overflow:hidden;
}
.slider_text h2 {
	color:#e5e5e5;
	margin:3px 0 0 20px;
	font-size:21px;
	padding:0;
	font-weight:normal;
	width:600px;
	height:25px;
	overflow:hidden;
}
.slider_buttons {
	float:right;
	margin:-35px 50px 0 0;
}
.slider_buttons ul {
	margin:0;
	padding:0;
	list-style:none;
}
.slider_buttons ul li {
	float:left;
}
.slider_buttons ul li a {
	float:left;
	width:14px;
	height:14px;
	background:#fff;
	border-radius:7px;
	margin:0 5px 0 0;
}
.slider_buttons ul li.active a {
	background:url(../images/slider_button_bg.png) 0 0 no-repeat;
}
.index_nav {
	float:left;
	width:980px;
	margin:15px 0 30px 0;
}
.index_nav_item {
	float:left;
	width:235px;
	height:145px;
	overflow:hidden;
	margin:0 5px;
}
.index_nav_item_pic {
	float:left;
	width:235px;
	height:145px;
	overflow:hidden;
}
.index_nav_item_label {
	float:left;
	margin:-55px 0 0;
	padding:5px 10px;
	font-size:14px;
	color:#fff;
	background:#000;
	border-bottom:2px solid #fe0033;
	position:relative;
}
.index_nav_item_text {
	float:left;
	height:24px;
	width:235px;
	margin:-54px 0 0;
	background:url(../images/index_nav_item_text_bg.png) 0 0 repeat-x;
	padding:30px 0 0;
	color:#fff;
	text-align:center;
	font-size:17px;
	font-family:dotum;
	overflow:hidden;
}
.index_nav a {
	text-decoration:none;
}
.special {
	background:#fe0033;
	border-bottom:2px solid #000;
	font-weight:bold;
	font-size:11px;
	height:16px;
	line-height:16px;
}
.footer_bg {
	float:left;
	width:100%;
	background:#000;
	border-top:2px solid #d5131a;
}
.footer_center {
	width:980px;
	margin:0 auto;
}
.footer {
	float:left;
	width:980px;
	padding:0 0 44px 0;
}
.footer_logo {
	float:left;
	margin:20px 0 0;
	width:180px;
}
.footer_r {
	float:left;
	margin:30px 0 0 35px;
	width:765px;
}
.footer_nav {
	float:left;
	width:765px;
}
.footer_nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
.footer_nav ul li {
	float:left;
	margin:0 85px 0 0;
	font-size:16px;
}
.footer_nav ul li a {
	text-decoration:none;
	color:#fff;
}
.footer_menu {
	float:left;
	width:765px;
	margin:20px 0 0;
}
.footer_menu_head {
	float:left;
	width:765px;
	color:#fff;
	font-weight:bold;
	font-size:15px;
	line-height:36px;
	height:36px;
}
.footer_menu table {
	float:left;
	width:620px;
	border-spacing:0;
}
.footer_menu table tr {
	width:155px;
	float:left;
}
.footer_menu table tr td {
	font-size:15px;
	width:145px;
	padding:0 10px 0 0;
	height:36px;
}
.footer_menu table tr td a {
	text-decoration:none;
	color:#fff;
}
.footer_text {
	float:left;
	margin:30px 0 0;
	color:#fff;
	font-size:15px;
}
.footer_social {
	float:right;
}
.footer_social ul {
	margin:0;
	padding:0;
	list-style:none;
}
.footer_social ul li {
	float:left;
	margin:0 0 0 5px;
}
.category_pic {
	float:left;
	width:770px;
	height:205px;
	overflow:hidden;
}
.category_label {
	float:left;
	font-size:14px;
	color:#fff;
	padding:10px;
	border-bottom:3px solid #fe0033;
	margin:-175px 0 0;
	background:#000;
}
.category_text {
	float:left;
	margin:-120px 0 0;
	background:url(../images/slider_text_bg.png) 0 0 repeat-x;
	width:770px;
	height:120px;
}
.category_text h1 {
	font-size:39px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color:#fff;
	margin:50px 20px 0 20px;
	padding:0;
	font-weight:normal;
	width:730px;
	height:47px;
	overflow:hidden;
}
.left_menu tr.active {
	margin:-1px 0 0 -15px;
	padding:0 0 0 15px;
	background:url(../images/list_style.png) 0 0 no-repeat;
}
.left_menu tr.active td a {
	color:#fff;
}
.left_menu ul {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	width:210px;
}
.left_menu ul li {
	float:left;
	width:190px;
	padding:0 0 0 20px;
	line-height:170%;
}
.left_menu ul li a {
	text-decoration:none;
	color:#fff;
}
.color {
	float:left;
	width:27px;
	height:24px;
	overflow:hidden;
	margin:0 0 5px 5px;
}
.colors {
	float:left;
	width:190px;
	padding:0 0 0 20px;
}
.price_filter {
	float:left;
	width:190px;
	color:#fff;
	padding:0 0 0 20px;
}
.price_filter input {
	width:50px;
	height:23px;
	background:#fff;
	border:none;
	text-align:center;
	font-size:13px;
	color:#4d4d4d;
	margin:0 2px;
	padding:0;
}
.filters_submit {
	float:left;
	width:210px;
	margin:20px 0;
}
.filters_submit input {
	float:right;
	margin:0 20px 0 0;
	background:#d5131a;
	border:none;
	padding:0;
	width:75px;
	height:30px;
	font-size:15px;
	color:#000;
	border-radius:5px;
	cursor:pointer;
}
.category_items {
	float:left;
	width:770px;
	background:#fff;
}
.category_items a {
	text-decoration:none;
}
.category_item {
	float:left;
	width:255px;
	margin:1px 0 1px 1px;
	height:285px;
}
.category_item_pic {
	float:left;
	width:255px;
	height:285px;
	overflow:hidden;
	text-align:center;
	line-height:285px;
	font-size:0;
}
.category_item_pic img {
	vertical-align:middle;
}
.category_item_hover {
	display:none;
	float:left;
	width:255px;
	height:285px;
	margin:-285px 0 0;
	background:url(../images/category_item_hover_bg.png);
}
.category_item_hover h1 {
	margin:70px 0 0;
	padding:0;
	font-weight:normal;
	text-align:center;
	font-size:40px;
	color:#fff;
	height:46px;
	overflow:hidden;
}
.category_item_hover img {
	margin:30px 0 0 27px;
}
.category_item:hover .category_item_hover {
	display:block;
}
.left_menu_select {
	float:left;
	padding:0 0 0 20px;
	width:190px;
}
.left_menu_select select {
	height:21px;
	padding:0;
	font-size:13px;
	margin:0;
	border:none;
	background:#fff;
	max-width:170px;
}
.breadcrumbs {
	float:left;
	width:755px;
	height:40px;
	line-height:40px;
	font-size:14px;
	color:#333;
	margin:0 0 0 15px;
}
.breadcrumbs a {
	text-decoration:none;
	color:#333;
}
.top_filters {
	float:left;
	width:740px;
	margin:0 0 0 15px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	height:50px;
}
.top_filters_l {
	float:left;
	height:50px;
	line-height:50px;
}
.top_filters_l select {
	background:#fff;
	border:1px solid #e5e5e5;
	padding:0;
	margin:0;
	height:25px;
}
.top_filters_r {
	float:right;
}
.top_filters_r span {
	float:left;
	height:50px;
	line-height:50px;
	color:#808080;
	margin:0 5px 0 0;
}
.top_filters_r ul {
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
.top_filters_r ul li {
	float:left;
	height:50px;
	line-height:50px;
	font-size:10px;
	margin:0 0 0 5px;
}
.top_filters_r ul li a {
	text-decoration:none;
	color:#333333;
	background:#e5e5e5;
	padding:1px 3px;
}
.top_filters_r ul li.active a {
	color:#fff;
	background:#666666;
}
.catalog {
	float:left;
	width:755px;
	margin:0 0 0 15px;
}
.catalog a {
	text-decoration:none;
}
.catalog_item {
	float:left;
	width:240px;
	margin:1px 4px 1px 0;
	height:286px;
	border:2px solid #fff;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.catalog_item_pic {
	width:240px;
	height:210px;
	overflow:hidden;
	text-align:center;
	line-height:210px;
	font-size:0;
	float:left;
}
.catalog_item_pic img {
	vertical-align:middle;
}
.catalog_item_price {
	float:left;
	padding:0 5px;
	background:#000;
	font-size:26px;
	color:#fff;
	margin:-60px 0 0;
	height:40px;
	line-height:30px;
}
.catalog_item_price sup {
	font-size:13px;
}
.catalog_item_opt {
	float:left;
	color:#fff;
	font-size:13px;
	background:#333333;
	padding:0 5px;
	margin:-20px 0 0;
	height:20px;
	line-height:17px;
}
.catalog_item_opt strong {
	font-size:20px;
}
.catalog_item h1 {
	font-size:20px;
	margin:0;
	padding:10px 20px 0 20px;
	color:#000;
	width:200px;
	float:left;
	height: 66px;
}
.catalog_item:hover h1 {
	background:url(../images/category_item_hover_bg.png);
	color:#fff;
}
.catalog_item:hover {
	border-color:#000;
}
.bottom_filters {
	float:left;
	width:740px;
	margin:0 0 0 15px;
	border-top:1px solid #ccc;
	height:50px;
}
.pagination {
	float:left;
	height:50px;
	line-height:50px;
	font-size:10px;
}
.pagination a {
	text-decoration:none;
	color:#333333;
	background:#e5e5e5;
	padding:1px 5px;
}
.pagination a.cur {
	color:#fff;
	background:#666666;
}
.more {
	background:#fff url(../images/content_bg.png) 0 0 repeat-x;
	float:left;
	width:950px;
	padding:20px 0 0 30px;
}
.more .breadcrumbs {
	width:935px;
}
.more_l {
	float:left;
	width:450px;
	margin:20px 0 0;
}
.more_r {
	float:left;
	width:460px;
	margin:20px 30px 0 10px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.more_pics {
	float:left;
	width:100px;
}
.small {
	float:left;
	width:95px;
	height:95px;
	border:1px solid #ccc;
	margin:18px 0;
	line-height:95px;
	font-size:0;
	text-align:center;
	overflow:hidden;
}
.small img {
	vertical-align:middle;
}
.more_pic {
	float:left;
	width:350px;
	height:400px;
	line-height:400px;
	font-size:0;
	text-align:center;
	overflow:hidden;
}
.more_pic img {
	vertical-align:middle;
}
.more_pic_button {
	float:right;
	width:23px;
	height:23px;
	margin:-53px 50px 0 0;
}
.more_r h1 {
	font-size:36px;
	font-weight:normal;
	margin:0 0 10px 0;
	padding:0;
}
.more_r_price {
	float:left;
	padding:0 5px;
	background:#000;
	font-size:32px;
	color:#fff;
	height:50px;
	line-height:40px;
}
.more_r_price sup {
	font-size:16px;
}
.more_r_opt {
	float:left;
	color:#fff;
	font-size:16px;
	background:#333333;
	padding:0 5px;
	height:24px;
	line-height:24px;
}
.old_price {
	float:left;
	width:130px;
	text-align:center;
	font-size:14px;
	color:#bf0000;
	line-height:150%;
}
.old_price div {
	text-decoration:line-through;
}
.old_price span {
	font-size:24px;
	text-decoration:line-through;
}
.old_price sup {
	font-size:16px;
	text-decoration:line-through;
}
.more_l_l {
	float:left;
	margin:0 0 10px 0;
}
.more_l_r {
	float:right;
	font-size:14px;
	color:#1a1a1a;
	font-family:Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
}
.cart_buy {
	width:136px;
	height:44px;
	background:url(../images/cart_button.png) no-repeat;
	padding:0;
	margin:0;
	border:none;
	cursor:pointer;
}
.more_l_r label {
	margin:5px 0 0;
	float:left;
}
.more_l_r label input {
	margin:1px 5px 0 0;
	float:left;
}
.info {
	float:left;
	width:460px;
	line-height:200%;
	font-size:14px;
}
.info select {
	background:#fff;
	border:1px solid #e5e5e5;
	height:20px;
	padding:0;
	margin:0 0 0 5px;
	border-radius:3px;
}
.info span {
	float:left;
}
.info .color {
	margin:2px 0 0 5px;
}
.description_nav {
	float:left;
	width:460px;
	margin:10px 0 0;
	font-family:Arial, Helvetica, sans-serif;
}
.description_nav ul {
	margin:0;
	padding:0;
	list-style:none;
}
.description_nav ul li {
	float:left;
	height:40px;
	line-height:40px;
	font-size:14px;
}
.description_nav ul li a {
	text-decoration:none;
	color:#333333;
	padding:0 15px;
}
.description_nav ul li.active {
	background:#ccc;
}
.description {
	float:left;
	width:430px;
	background:#f2f2f2;
	font-family:Arial, Helvetica, sans-serif;
	padding:15px;
	color:#1a1a1a;
	line-height:150%;
}
.other {
	float:left;
	width:978px;
	margin:0 0 0 -28px;
}
.other a {
	text-decoration:none;
}
.other_head {
	margin:20px 0 20px 28px;
	padding:0;
	font-size:27px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight:normal;
}
.other .catalog_item {
	margin:0 0 1px 0;
}